.surah__ayah,
.surah__header {
  display: flex;
  width: 100%;
}

.surah__ayah {
  padding: 40px 0px;
  position: relative;
}

.surah__ayah:not(:last-child) {
  border-bottom: 1px solid #d8d8d8;
}

/* .surah__ayah:nth-child(odd) {
  background: #f6f5ff;
  margin: 22px;
  padding: 20px 17px;
} */

.surah__header {
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.surah__ayahNumber {
  font-weight: 600;
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* border: 1px solid #dad6ff; */
  text-align: center;
  font-size: 17px;
  line-height: 32px;
  top: -11px;
  background: #fff;
}

.surah__ayahText {
  width: 100%;
}

.surah__arabicTranslate {
  font-family: "Amiri", serif;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

/* .surah__ayahText {
  margin-top: 15px;
} */
