.surah__ayah,
.surah__header {
  display: flex;
  width: 100%;
}

.surah__ayah {
  padding: 40px 0px;
  position: relative;
}

.surah__ayah:not(:last-child) {
  border-bottom: 1px solid #e8e6e6;
}

.surah__header {
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 45px;
}
.surah__ayahNumber {
  background: url(../assets/ayah-no-bg.png);
  font-weight: 600;
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 42px;
  top: -23px;
  background-size: contain;
  opacity: 0.7;
}

.surah__ayahText {
  width: 100%;
}

.surah__arabicTranslate {
  font-family: "Amiri", serif;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-right: 36px;
  margin-bottom: 25px;
}

.surah__arabicTranslate:after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background: #a79fff;
  right: -36px;
  border-radius: 50%;
  top: 0px;
}
