.app__container {
  display: flex;
}

.app__sidebar {
  position: fixed;
  top: 0;
  z-index: 9;
  height: auto;
  line-height: inherit;
  background: #fff;
  width: 280px;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.2);
}

.app__body {
  min-height: calc(100vh - 80px);
  margin-top: 100px;
  margin-left: 320px;
  margin-right: 40px;
  width: calc(100vw - 280px);
  position: relative;
}
