.app__container {
  display: flex;
}

.app__sidebar {
  position: fixed;
  top: 0;
  z-index: 9;
  height: auto;
  line-height: inherit;
  background: #fff;
  width: 280px;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 0 21px 0 rgba(89, 102, 122, 0.2);
}

.app__body {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  margin-left: 280px;
  margin-right: 0;
  width: calc(100vw - 280px);
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .app__sidebar {
    width: 220px;
  }
  .app__body {
    margin-left: 220px;
    width: calc(100vw - 220px);
  }
}
